body {
    background: #f4f4f4;
    font-family: Arial;
    margin: 0;
}

nav {
    background: blue;
    padding: 10px;
}

.navbar {
    background: rgb(51, 255, 75);
    width: 100vw;
    padding: 15px;
}

.navbar a {
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    font-size: large;
}

.navbar a:hover {
    color: rgb(118, 118, 118);
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px
}

.btn {
    background: green;
    color: white;
    padding: 10px;
}

.welcome-box {
    background: white;
    border-radius: 5px;
    box-shadow: black 0px 0px 20px;
}

.main {
    margin: 8px;
}